#navbar{
    text-align:center;
}
#navbar li{
    display:inline-block;
    border-top: 1px solid black;
    border-bottom:1px solid black;
    font-size:27px;
    padding: 1px;
}
a{
    color:black;
    text-decoration: none;
}

#buttons li{
    display:inline-block;
    border:2px solid black;
    font-size:40px;
    padding-left: 17px;
    padding-right:17px;
    padding-top:5px;
    padding-bottom:5px;
}

#display{
    border:3px solid black;
    font-size:35px;
    padding-left:15px;
    padding-right:15px;
    padding-top:3px;
    padding-bottom:3px;
    text-align:center;
    width:350px;
}