#navbar{
    text-align:center;
}
#navbar li{
    display:inline-block;
    border-top: 1px solid black;
    border-bottom:1px solid black;
    font-size:27px;
    padding: 1px;
}

a{
    color:black;
    text-decoration: none;
}

body{
    text-align:center;
}

div{
    font-size:25px;
    text-align:center;
}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 485px;
	height: 450px;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
	left:0;
}



/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position:absolute;
	top:0;
	left:0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.front, .back{
	border: solid black 3px;
}